{% extends 'base.html.twig' %}
{% block content %}
    <div class="slider-wrap">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb=""
                        data-delay="13000" data-saveperformance="off" data-title="Our Workplace">
                        <img src="images/slider/1.jfif" alt="kenburns1" data-bgposition="left center"
                             data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100"
                             data-bgfitend="130" data-bgpositionend="right center">
                        <div class="tp-caption customin customout tp-resizeme" data-x="left" data-hoffset="60"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300"
                             style="font-size:80px;color:#fff;text-transform:uppercase;font-weight: 800 !important;letter-spacing: 0px;line-height: 120% !important;">
                            Oui Bike <br>
                            Choisir votre velo!!
                        </div>
                        <div class="tp-caption light_title customin customout tp-resizeme" data-x="left"
                             data-hoffset="60" data-y="370"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000" data-start="700" data-easing="Back.easeInOut" data-endspeed="300"
                             style="font-size:18px;color:#fff;">
                            +1000 velos disponible maintenant
                        </div>
                        <a href="#" class="tp-caption small_title  customin customout tp-resizeme" data-x="left"
                           data-hoffset="60" data-y="450"
                           data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                           data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1600" data-start="900" data-easing="Back.easeInOut" data-endspeed="300"
                           style="	background: #000;
							padding:18px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							font-size: 13px;
							letter-spacing: 2px;
							border-radius: 0px;
							display: table;
							transition: .4s;
							border-radius:5px;
							">Consulter</a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"
                        data-title="Ken Burns Slide">
                        <!-- MAIN IMAGE -->
                        <img src="images/slider/2.jfif" alt="2" data-lazyload="images/slider/2.jfif"
                             data-bgposition="right top" data-kenburns="on" data-duration="12000"
                             data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100"
                             data-bgpositionend="center bottom">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0" data-x="center"
                             data-y="210"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none"
                             data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;
							min-height: 0px;
							position: absolute;
							color: #fff;
							text-shadow: none;
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							margin: 0px;
							border-width: 0px;
							border-style: none;
							text-transform: uppercase;
							white-space: nowrap;
							letter-spacing: 1.8px;
							"><span>Why you choose this template</span>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0" data-x="center"
                             data-y="256"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none"
                             data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;   width: 60px !important;
							height: 1px !important;
							background: #fff !important;
							">
                            <p class="line white"></p>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0 center-align"
                             data-x="center" data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500" data-start="1800" data-easing="Power3.easeInOut" data-splitin="none"
                             data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;  color: #222222;
							text-shadow: none;
							font-size: 48px;
							line-height: 50px;
							font-weight: 900;
							background-color: none;
							text-decoration: none;
							font-family:Open Sans, sans-serif;
							text-transform: uppercase;
							border-width: 0px;
							color: #fff;
							text-align:center;
							border-color: transparent;
							border-style: none;
							letter-spacing: 2.5;
							"><span>A Creative way to show <br> your projects</span>
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0" data-x="center"
                             data-y="405"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
                             data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                             style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                            <p class="line white"></p>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption small_text lfr tp-resizeme rs-parallaxlevel-0" data-x="center"
                             data-y="435"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500" data-start="2400" data-easing="Power3.easeInOut" data-splitin="none"
                             data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  position: absolute;
							color: #222222;
							text-shadow: none;
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							margin: 0px;
							border-width: 0px;
							font-family:Open Sans, sans-serif;
							text-transform: uppercase;
							white-space: nowrap;
							color: #fff;
							letter-spacing: 1.8px;
							"><span>Create UNLIMITED portfolios and showcase them ANYWHERE</span>
                        </div>
                        <!-- LAYER NR. 6 -->
                        <a href="#" class="tp-caption lfb tp-resizeme rs-parallaxlevel-0" data-x="center"
                           data-y="490"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="500" data-start="2800" data-easing="Power3.easeInOut" data-splitin="none"
                           data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                           data-linktoslide="next" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;padding:18px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							background:#000;
							font-size: 13px;
							letter-spacing: 2px;
							font-family: Montserrat;
							border-radius: 0px;
							display: table;
							transition: .4s;
							border-radius:5px;">buy this theme</a>
                    </li>
                    <!-- SLIDE  -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <div class="inner-content no-padding">
        <div class="container">
            <div class="space60"></div>
            <div class="welcome-content text-center">
                <h2>Bienvenu a ouiBike</h2>
                <p class="lead">le meilleur site de location de velo</p>
            </div>
        </div>
        <div class="container">
            <div class="service-home col-md-12 text-center">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="#">
                        <i class="icon-air-play"></i>
                    </a>
                    <div class="clearfix"></div>
                    <h4>facile a manipuler</h4>

                    <a class="readmore" href="#">...</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="#">
                        <i class="icon-cog3"></i>
                    </a>
                    <div class="clearfix"></div>
                    <h4>tout les categorie</h4>

                    <a class="readmore" href="#">...</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="#">
                        <i class="icon-pie-graph"></i>
                    </a>
                    <div class="clearfix"></div>
                    <h4>statistique de chaque client</h4>

                    <a class="readmore" href="#">...</a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="container info-home">
            <div class="col-md-5">
                <img src="images/other/2.jfif" alt="">
            </div>
            <div class="col-md-7">
                <h3>Vous trouvez les</span><em>evenements & blogs</em></h3>
                <p>Praesent posuere blandit nisl, vel dignissim ipsum. Fusce id ante quis ante rhoncus sollicitudin
                    dignissim ac enim. Nulla facilisi. Donec finibus viverra sapien, ac eleifend mauris. Fusce
                    aliquam quam leo. Vestibulum eu orci dui. Sed pulvinar, nunc eget feugiat egestas, urna lorem
                    elementum leo, in congue tortor metus quis nunc. Sed laoreet at tellus quis molestie.</p>
                <div class="clearfix space10"></div>
                <a href="#" class="button btn-lg">Lets Start!</a>
            </div>
        </div>


        <div class="container padding70">
            <div class="text-center space40">
                <h2 class="title uppercase">Decouvrir notre application mobile</h2>
                <p>Sed laoreet libero eget tempus blandit praesent eu erat sed sem facilisis rutrum
                    metus<br>facilisis eros justo non ipsum aliquam lacinia non eu ex.</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="space90"></div>
                    <ul class="features-left">
                        <li>
                            <i class="icon-mobile"></i>
                            <h3>Responsive design</h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                        <li>
                            <i class="icon-hazardous"></i>
                            <h3>Color schemes</h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                        <li>
                            <i class="icon-lock"></i>
                            <h3>PSD Is Included </h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-sm-push-4">
                    <div class="space90"></div>
                    <ul class="features-right">
                        <li>
                            <i class="icon-lightbulb"></i>
                            <h3>Pure &amp; Simple</h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                        <li>
                            <i class="icon-strategy"></i>
                            <h3>Documentation</h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                        <li>
                            <i class="icon-globe"></i>
                            <h3>Multiplatform</h3>
                            <p> Sed suscipit, nisl sed auctor justo ante rhoncus ullamcorper justo quam non
                                venenatis elit eget enim pharetra iaculis</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-sm-pull-4">
                    <div> <img src="images/other/3.png" class="img-responsive center-block" alt="" /> </div>
                </div>
            </div>
        </div>



        <!-- TWEET / SUBSCRIBE -->
        xdomainrequest
    </div>

    <!-- STYLE SWITCHER
============================================= -->
    <div class="b-settings-panel">
        <div class="settings-section">
				<span>
					Boxed
				</span>
            <div class="b-switch">
                <div class="switch-handle"></div>
            </div>
            <span>
					Wide
				</span>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Main Background</h5>
        <div class="settings-section bg-list">
            <div class="bg-pattern1"></div>
            <div class="bg-pattern2"></div>
            <div class="bg-pattern6"></div>
            <div class="bg-pattern10"></div>
            <div class="bg-pattern16"></div>
            <div class="bg-pattern4"></div>
            <div class="bg-pattern5"></div>
            <div class="bg-pattern7"></div>
            <div class="bg-pattern9"></div>
            <div class="bg-pattern11"></div>
            <div class="bg-pattern12"></div>
            <div class="bg-pattern13"></div>
            <div class="bg-pattern17"></div>
            <div class="bg-pattern8"></div>
            <div class="bg-pattern14"></div>
            <div class="bg-pattern15"></div>
            <div class="bg-pattern3"></div>
            <div class="bg-pattern19"></div>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Color Scheme</h5>
        <div class="settings-section color-list">
            <div data-src="css/color-scheme/moderate-green.css" style="background: #8ec249"></div>
            <div data-src="css/color-scheme/vivid-blue.css" style="background: #228dff"></div>
            <div data-src="css/color-scheme/orange.css" style="background: #fa6900"></div>
            <div data-src="css/color-scheme/brown.css" style="background: #a68c69"></div>
            <div data-src="css/color-scheme/yellow.css" style="background: #fabe28"></div>
            <div data-src="css/color-scheme/violet.css" style="background: #ba01ff"></div>
            <div data-src="css/color-scheme/strong-cyan.css" style="background: #00b9bd"></div>
            <div data-src="css/color-scheme/soft-cyan.css" style="background: #4bd5ea"></div>
            <div data-src="css/color-scheme/red.css" style="background: #ff0104"></div>
            <div data-src="css/color-scheme/lite-brown.css" style="background: #f3a76d"></div>
            <div data-src="css/color-scheme/lime-green.css" style="background: #3bdbad"></div>
            <div data-src="css/color-scheme/light-voilet.css" style="background: #aaa5ff"></div>
            <div data-src="css/color-scheme/gray-green.css" style="background: #697060"></div>
            <div data-src="css/color-scheme/gray-cyan.css" style="background: #aeced2"></div>
            <div data-src="css/color-scheme/de-green.css" style="background: #b6cd71"></div>
            <div data-src="css/color-scheme/cream.css" style="background: #e0d6b2"></div>

        </div>
        <div class="btn-settings"></div>
    </div>
{% endblock %}