{% extends 'base1.html.twig' %}
{% block content %}
<div class="authentication-theme auth-style_1">
    <div class="row">
        <div class="col-12 mx-xl-1">
            <a href="index.html" class="logo">
                <img src="assets/images/logo.png" alt="logo" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
            <div class="grid">
                <div class="grid-body">
                    <div class="row">
                        <div class="col-12  form-wrapper">
                            {% if is_granted("ROLE_ADMIN") %}
                            Bienvenu {{ '%username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}

                                <a href="{{ path('adminindex') }}">Acceder</a>
                            {% else %}
                               Il faut connecter en tantque super admin
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
