{% extends 'base.html.twig' %}
{% block content %}
    <!-- PAGE HEADER -->
    <div class="page_header">

        <div class="bcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="bcrumbs">
                            <li><a href="#"><i class="fa fa-home"></i> Blog</a></li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INNER CONTENT -->
    <div class="inner-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="blog-single">
                        <article class="blogpost">
                            <h2 class="post-title"><a href="#">nom de Blog</a></h2>
                            <div class="post-meta">
                                <span><a href="#"><i class="icon-clock2"></i> 23 May</a></span>
                                <span><a href="#"><i class="icon-user"></i> Utulisateur</a></span>
                                <span><i class="icon-archive3"></i> <a href=""></a>, <a href="#">type</a></span>
                                <span><a href="#"><i class="icon-speech-bubble"></i> nb Comments</a></span>
                            </div>
                            <div class="space30"></div>
                            <!-- Media Gallery -->
                            <div class="post-media">
                                <div id="blog-slider" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="images/blog/1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/blog/2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/blog/3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="images/blog/4.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="space30"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui.
                                Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit
                                amet mi id sapien tempor molestie in nec massa.
                            </p>
                            <p>
                                Fusce non ante sed lorem rutrum feugiat. Vestibulum pellentesque, purus
                                ut&nbsp;dignissim consectetur, nulla erat ultrices purus, ut&nbsp;consequat sem elit
                                non sem.
                                Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit
                                amet mi id sapien tempor molestie in nec massa.
                                Fusce non ante sed lorem rutrum feugiat.
                            </p>
                            <blockquote class="style1">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                                    ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat a ante. Lorem ipsum dolor sit amet. Integer posuere erat a ante.</p>
                                <small><b>Author Name</b></small>
                            </blockquote>
                            <p>
                                Praesent ultricies ut ipsum non laoreet. Nunc ac <a href="#">ultricies</a> leo.
                                Nulla ac ultrices arcu. Nullam adipiscing lacus in consectetur posuere. Nunc
                                malesuada tellus turpis, ac pretium orci molestie vel.
                                Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit
                                amet mi id sapien tempor molestie in nec massa.
                                Fusce non ante sed lorem rutrum feugiat.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui.
                                Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit
                                amet mi id sapien tempor molestie in nec massa.
                                Fusce non ante sed lorem rutrum feugiat. Vestibulum pellentesque, purus
                                ut&nbsp;dignissim consectetur, nulla erat ultrices purus, ut&nbsp;consequat sem elit
                                non sem.
                            </p>
                        </article>
                    </div>
                    <div class="padding70">
                        <h4 class="uppercase space30">Commentaire &nbsp;&nbsp;<span>(3)</span></h4>
                        <ul class="comment-list">
                            <li>
                                <a class="pull-left" href="#"><img class="comment-avatar" src="images/quote/1.jpg"
                                                                   alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="#">John Doe</a>
                                    <span>
											<em>Feb 17, 2015, at 11:34</em>
											<a href="#" class="button btn-xs reply"><i
                                                        class="fa fa-comment"></i>&nbsp;Reply</a>
										</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet
                                    urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor
                                    tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                            <li class="comment-sub">
                                <a class="pull-left" href="#"><img class="comment-avatar" src="images/quote/2.jpg"
                                                                   alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="#">John Doe</a>
                                    <span>
											<em>March 08, 2015, at 03:34</em>
											<a href="#" class="button btn-xs reply"><i
                                                        class="fa fa-comment"></i>&nbsp;Reply</a>
										</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet
                                    urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor
                                    tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                            <li>
                                <a class="pull-left" href="#"><img class="comment-avatar" src="images/quote/1.jpg"
                                                                   alt="" height="50" width="50"></a>
                                <div class="comment-meta">
                                    <a href="#">John Doe</a>
                                    <span>
											<em>June 11, 2015, at 07:34</em>
											<a href="#" class="button btn-xs reply"><i
                                                        class="fa fa-comment"></i>&nbsp;Reply</a>
										</span>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor sit amet
                                    urna nec tempor. Nullam pellentesque in orci in luctus. Sed convallis tempor
                                    tellus a faucibus. Suspendisse et quam eu velit commodo tempus.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <h4 class="uppercase space30">Leave a comment</h4>
                    <form method="post" action="#" id="form" role="form" class="form">


                        <div class="space20">
								<textarea name="text" id="text" class="input-md form-control" rows="6"
                                          placeholder="Comment" maxlength="400"></textarea>
                        </div>
                        <button type="submit" class="button btn-small">
                            poster
                        </button>
                    </form>
                    <div class="space60"></div>
                    <div class="clearfix prevnext">

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- STYLE SWITCHER
============================================= -->
    <div class="b-settings-panel">
        <div class="settings-section">
				<span>
					Boxed
				</span>
            <div class="b-switch">
                <div class="switch-handle"></div>
            </div>
            <span>
					Wide
				</span>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Main Background</h5>
        <div class="settings-section bg-list">
            <div class="bg-pattern1"></div>
            <div class="bg-pattern2"></div>
            <div class="bg-pattern6"></div>
            <div class="bg-pattern10"></div>
            <div class="bg-pattern16"></div>
            <div class="bg-pattern4"></div>
            <div class="bg-pattern5"></div>
            <div class="bg-pattern7"></div>
            <div class="bg-pattern9"></div>
            <div class="bg-pattern11"></div>
            <div class="bg-pattern12"></div>
            <div class="bg-pattern13"></div>
            <div class="bg-pattern17"></div>
            <div class="bg-pattern8"></div>
            <div class="bg-pattern14"></div>
            <div class="bg-pattern15"></div>
            <div class="bg-pattern3"></div>
            <div class="bg-pattern18"></div>
        </div>
        <hr class="dashed" style="margin: 15px 0px;">
        <h5>Color Scheme</h5>
        <div class="settings-section color-list">
            <div data-src="css/color-scheme/moderate-green.css" style="background: #8ec249"></div>
            <div data-src="css/color-scheme/vivid-blue.css" style="background: #228dff"></div>
            <div data-src="css/color-scheme/orange.css" style="background: #fa6900"></div>
            <div data-src="css/color-scheme/brown.css" style="background: #a68c69"></div>
            <div data-src="css/color-scheme/yellow.css" style="background: #fabe28"></div>
            <div data-src="css/color-scheme/violet.css" style="background: #ba01ff"></div>
            <div data-src="css/color-scheme/strong-cyan.css" style="background: #00b9bd"></div>
            <div data-src="css/color-scheme/soft-cyan.css" style="background: #4bd5ea"></div>
            <div data-src="css/color-scheme/red.css" style="background: #ff0104"></div>
            <div data-src="css/color-scheme/lite-brown.css" style="background: #f3a76d"></div>
            <div data-src="css/color-scheme/lime-green.css" style="background: #3bdbad"></div>
            <div data-src="css/color-scheme/light-voilet.css" style="background: #aaa5ff"></div>
            <div data-src="css/color-scheme/gray-green.css" style="background: #697060"></div>
            <div data-src="css/color-scheme/gray-cyan.css" style="background: #aeced2"></div>
            <div data-src="css/color-scheme/de-green.css" style="background: #b6cd71"></div>
            <div data-src="css/color-scheme/cream.css" style="background: #e0d6b2"></div>

        </div>
        <div class="btn-settings"></div>
    </div>
    {% endblock %}