
.close-btn {
    background-image: url(https://goo.gl/8L73SS);
    background-repeat: no-repeat;
    background-size: 30px 616px;
    background-position: -16px -566px;
    height: 12px;
    width: 12px;
    margin-top: 2px;
    cursor: pointer;
    display: inline-block
}
@-webkit-keyframes holy-grill {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
    }

    100% {
        opacity: .96;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes holy-grill {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -80px, 0);
        transform: translate3d(0, -80px, 0);
    }

    100% {
        opacity: .96;
        -webkit-transform: none;
        transform: none;
    }
}
.module {
    width: 550px;
    margin: 25px auto;
}
.main-post{
    position: relative;
}
.timeline {
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 18px;
    overflow: hidden;
}

.animated-bg {
    height: 104px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#f6f7f9), color-stop(20%, #e9ebee), color-stop(40%, #f6f7f9), to(#f6f7f9));
    background: -webkit-linear-gradient(left, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
    background: -o-linear-gradient(left, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
    background: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
    background-size: 800px 104px;
    -webkit-animation: loading 1s linear infinite forwards;
    animation: loading 1s linear infinite forwards;
    position: relative;
}
.container {
    padding: 18px 18px 0 18px;
    background: #fff;
    position: relative;
}
.up {
    position: relative;
}
.info {
    overflow: hidden;
}
.info a:hover {
    text-decoration: underline;
}

.lke:before {
    color: #5890ff;
    font-weight: bold
}
.info .avatar{
    margin-right: 8px;
    cursor: pointer;
    float: left;
    border-radius: 50%;
    position: relative;
}
.info .avatar:before{
    content: '';
    background-color: #42b72a;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 9px;
    left: 76%;
    position: absolute;
    top: 68%;
    width: 9px;
    z-index: 1;
}


.info .time {
    font-weight: 400;
    margin-right: 7px;
    color: #90949c;
}
.info .user {
    color: #365899;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block

}
.info .ca {
    display: block;
    color: #90949c;
    font-size: 14px;
}
.status{
    color: #c8c8c8
}
.status-feeling{
    background-image: url(https://goo.gl/rYfPa2);
    background-size: 18px 72px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-position: 0 -36px;
    margin-right: 3px;
    vertical-align: -2.9px;

}
.up p{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
}
.dots {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-image: url(https://goo.gl/PM1ia3);
    background-repeat: no-repeat;
    background-size: 64px 346px;
    background-position: 0 -132px;
    height: 20px;
    width: 20px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease
}
.dots:hover {
    background-position: -22px -132px;
}
.list {
    position: absolute;
    right: 0;
    top: 11%;
    z-index: 3;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    display: none;
}
.list ul, .share-li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.seprator{
    border-bottom: 1px solid #e9ebee;
    margin: 5px 7px 6px;
    padding-top: 1px;
}
.list ul li a, .share-li li a {
    color: #4b4f56;
    font-size: 13px;
    background: #fff;
    display: block;
    padding: 5.5px 12px;
}
.list ul li a:hover,.share-li li a:hover{
    color: #fff;
    background: #3b5998;
}
.emoji {
    z-index: 1;
    list-style: none;
    position: absolute;
    left: 0;
    padding: 0;
    bottom: 20px;
    background: #fff;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 2px rgba(0, 0, 0, .15);
    -webkit-transition: height 200ms ease;
    -o-transition: height 200ms ease;
    transition: height 200ms ease;
    cursor: pointer;
    width: 300px;
    height: 48px;
    display: none;
}
.emoji:hover .reaction{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
}
.reaction:hover {
    filter: blur(0px)!important;
    -webkit-filter:blur(0px)!important;
    -moz-filter: blur(0px)!important;
    -ms-filter: blur(0px)!important;
}
.reaction-like,
.reaction-love,
.reaction-haha,
.reaction-wow,
.reaction-sad,
.reaction-angry {

    width: 48px;
    height: 48px;
    display: inline-block;
    -webkit-transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    animation: wo .4s ease backwards;
    -webkit-animation: wo .4s ease backwards;
    -moz-animation: wo .4s ease backwards;
    -ms-animation: wo .4s ease backwards;
}
.reaction-like{
    background-image: url(https://goo.gl/UTnuVC);
}
.reaction-love{
    background-image: url(https://goo.gl/ijkkEd);
}
.reaction-sad{
    background-image: url(https://goo.gl/ykpdLL);
}
.reaction-haha{
    background-image: url(https://goo.gl/zeBy9d);
}
.reaction-wow{
    background-image: url(https://goo.gl/c79Gbd);
}
.reaction-angry{
    background-image: url(https://goo.gl/Qv7wPo);
}
@-webkit-keyframes wo {

    0% {transform: scale(.1, .1) rotate(0deg);
        -webkit-transform: scale(.1, .1) rotate(0deg);
        -moz-transform: scale(.1, .1) rotate(0deg);
        -ms-transform: scale(.1, .1) rotate(0deg);
        opacity: .5;
    }
    100% {transform: scale(.8, .8) rotate(360deg);
        -webkit-transform: scale(.8, .8) rotate(360deg);
        -moz-transform: scale(.8, .8) rotate(360deg);
        -ms-transform: scale(.8, .8) rotate(360deg);
        opacity: 1;
    }
}
@keyframes wo {

    0% {transform: scale(.1, .1) rotate(0deg);
        -webkit-transform: scale(.1, .1) rotate(0deg);
        -moz-transform: scale(.1, .1) rotate(0deg);
        -ms-transform: scale(.1, .1) rotate(0deg);
        opacity: .5;
    }
    100% {transform: scale(.8, .8) rotate(360deg);
        -webkit-transform: scale(.8, .8) rotate(360deg);
        -moz-transform: scale(.8, .8) rotate(360deg);
        -ms-transform: scale(.8, .8) rotate(360deg);
        opacity: 1;
    }
}
.reaction-like {
    -webkit-animation-delay: .03s;
    animation-delay: .03s
}
.reaction-love {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}
.reaction-haha {
    -webkit-animation-delay: .09s;
    animation-delay: .09s
}
.reaction-wow {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}
.reaction-sad {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}
.reaction-angry {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}
.reaction:hover {
    transform: scale(1, 1) translate(0, -6px);
    -webkit-transform: scale(1, 1) translate(0, -6px);
    -moz-transform: scale(1, 1) translate(0, -6px);
    -ms-transform: scale(1, 1) translate(0, -6px);
}

.reaction-love {

    left: 50px
}
.reaction-haha {

    left: 100px
}
.reaction-wow {

    left: 150px
}
.reaction-sad {

    left: 200px
}
.reaction-angry {
    left: 250px
}
.reaction:before {
    position: absolute;
    top: -31px;
    height: 42%;
    left: 1px;
    line-height: 19px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    padding: 0 8px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}
.reaction-like:before {
    content: 'Like'
}
.reaction-love:before {
    content: 'Love'
}
.reaction-haha:before {
    content: 'Haha'
}
.reaction-wow:before {
    content: 'Wow'
}
.reaction-sad:before {
    content: 'Sad'
}
.reaction-angry:before {
    content: 'Grrr'
}
.reaction-like:hover:before,
.reaction-love:hover:before,
.reaction-haha:hover:before,
.reaction-wow:hover:before,
.reaction-sad:hover:before,
.reaction-angry:hover:before {
    opacity: 1;
}
.react {
    border-top: 1px solid #e5e6e9;
    position: relative;

    padding: 0 25px;
    height: 39.97px;
}
.react .comment,
.share, .like-main {
    color: #4b4f56;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    height: 100%;
    line-height: 39.97px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.react .comment:active, .react .share:active{
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}
.like:before, .comment:before, .share:before{
    position: absolute;
    content: '';
    left: -25px;
    background-image: url(https://goo.gl/WJk2RH);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -9px;
}
.like:before{
    background-position: 0 -200px;
    background-size: 50px 406px;
}
.comment:before {
    background-size: 50px 406px;
    background-position: 0 -160px;
}

.share:before {
    background-size: 50px 406px;
    background-position: -20px -280px;
}
.share-li {
    position: absolute;
    right: 133px;
    z-index: 3;
    bottom: -135px;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    display: none;
}

.like-main-like:before,
.like-main-love:before,
.like-main-haha:before,
.like-main-wow:before,
.like-main-sad:before,
.like-main-angry:before {
    position: absolute;
    background-image: url(https://goo.gl/GJcK8B);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;

}
.holynoob:before{
    -webkit-animation: holynoob .8s ease ;
    animation: holynoob .8s ease
}
@-webkit-keyframes holynoob {
    0% {

        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {

        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {

        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {

        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {

        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {

        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {

        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes holynoob {
    0% {

        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {

        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {

        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {

        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {

        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {

        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {

        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.like-main-like{
    color: rgb(88, 144, 255);
}
.like-main-love{
    color: rgb(242, 82, 104)
}
.like-main-angry{
    color: rgb(247, 113, 75);
}
.like-main-sad, .like-main-haha, .like-main-wow{

    color: rgb(240, 186, 21);
}
.like-main-like:before{
    background-image: url(https://goo.gl/WJk2RH);
    background-repeat: no-repeat;
    background-size: 50px 406px;
    background-position: 0 -180px;

}
.like-main-love:before{
    background-size: 170px 128px;
    background-position: -104px -36px;
}
.like-main-haha:before {
    background-size: 170px 128px;
    background-position: -64px -36px;
}
.like-main-wow:before {
    background-size: 170px 128px;
    background-position: -20px -58px;
}
.like-main-sad:before {
    background-size: 170px 128px;
    background-position: -124px -36px;
}
.like-main-angry:before {
    background-size: 170px 128px;
    background-position: -24px -36px;
}
@-webkit-keyframes animatee {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes animatee {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.react .comment:hover,
.like:hover,
.share:hover {
    text-decoration: underline;
}
.like-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 38.98px;
    position: relative;
}
.like-stat:before {
    position: absolute;
    content: '';
    background-color: #4080ff;
    bottom: 0;
    content: '';
    left: -18px;
    position: absolute;
    top: 0;
    width: 2px;
}
.like-emo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.like-details {
    color: #3658b1;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px
}
.like-details:hover {
    text-decoration: underline;
}
.animate-typing {
    color: #90949c;
    font-size: 14px;
    text-align: center;
    margin-bottom: 16px;
    display: none
}
.animate-typing ul{
    padding: 0;
    margin: 0 8px 0 0;
    display: inline-block;
}
.animate-typing ul li{
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    background: #90949c;
    margin-right: 2px;
    border-radius: 2px;
    -webkit-animation: typing 1.5s ease-in-out infinite;
    animation: typing 1.5s ease-in-out infinite;
}


@-webkit-keyframes typing{
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    28% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    44% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}


@keyframes typing{
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    28% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    44% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}
.animate-typing ul li:nth-child(1){
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.animate-typing ul li:nth-child(2){
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.animate-typing ul li:nth-child(3){
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
    margin-right: 0px;
}
.like-btn-like,
.like-btn-love,
.like-btn-haha,
.like-btn-wow,
.like-btn-sad,
.like-btn-angry {
    width: 16px;
    height: 16px;
    background-image: url(https://goo.gl/WvR7R2);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
}
.like-btn-like {
    background-position: -17px -151px;
}
.like-btn-love {
    background-position: 0 -168px;
}
.like-btn-haha {
    background-position: 0 -151px;
}
.like-btn-wow {
    background-position: -17px -185px;
}
.like-btn-sad {
    background-position: -17px -168px;
}
.like-btn-angry {
    background-position: -17px -117px;
}
.comments {
    background: #f6f7f9;
    position: relative;
    border-top: 1px solid #e5e6e9;
    padding: 0 18px 13px 18px;
}
.comment-part{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dddfe2;
    line-height: 32px;
    outline: none;
    border-radius: 16px;
    resize: none;
    -webkit-filter: drop-shadow(0px 2px 6px #dddfe2);
    filter: drop-shadow(0px 2px 6px #dddfe2);
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}
.stickers {
    height: 100%;
    padding-right: 9px;
    position: absolute;
    right: 0;
}

.stickers > a {
    cursor: pointer;
    outline: none;
    padding: 0 8px;
    margin: 0 -4px;
    height: 100%;
    display: inline-block;
    line-height: 44px;
}
.stickers > a:hover ~.tolip{
    opacity: 1;
    top: -30px;
    visibility: visible
}

.stickers a:first-child:hover ~.tolip:after{
    content: 'Insert an emoji'
}
.stickers a:first-child:hover ~.tolip:before{
    -webkit-transform: translateX(-43px);
    -ms-transform: translateX(-43px);
    transform: translateX(-43px)
}

.stickers a:nth-child(2):hover ~.tolip:after{
    content: 'Post a photo'
}
.stickers a:nth-child(2):hover ~.tolip:before{
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px)
}

.stickers a:nth-child(3):hover ~.tolip:after{
    content: 'Post a GIF'
}
.stickers a:nth-child(3):hover ~.tolip:before{
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px)
}

.stickers a:nth-child(4):hover ~.tolip:after{
    content: 'Post a sticker'
}
.stickers a:nth-child(4):hover ~.tolip:before{
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px)
}